*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


html,body {
    height: 100%;
    width: 100%;
    background-color: 	#d9b99b;
}

#content {
    /* border: 1px solid red; */
    display: grid;
    justify-items: center;
    height: 100%;
    grid-template-rows: 95px 1fr;
    /* background-image: url(assets/background-2.jpg); */
    background: url(assets/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container {
    /* border: 1px solid black; */
    height: 35px;
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-items: center;
    align-items: center;
    /* border-bottom: 1px solid black; */
}


.nav-container {
    padding-top: 10px;
    display: grid;
    justify-items: center;
    align-items: start;
    
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 100%;  /*change height at #content grid template column*/
    /* border: 1px solid orange; */
    /* background-color: aqua; */

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.logo-div > img {

    width: 30px;
}

.nav-btn-div {

    display: grid;

    /* border: 1px solid black; */
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    width: 270px;
    height: 35px;
    
    

}


.main-content {
    height: 100%;
    width: 100%;
    /* background-color: yellowgreen; */
    /* border: 1px solid red; */
    text-align: center;
    display: grid;
    justify-items: center;
    overflow: auto;
}

.nav-btn {

    width: 90px;
    height: 20px;

    /* border-radius: 10px; */
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    /* border: 3px solid black; */

    /* background: rgba( 255, 255, 255, 0.25 ); */
    background: rgba(255, 255, 255, 0);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    /* backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px ); */
    /* border-radius: 10px; */
    /* border: 1px solid rgba(107, 107, 107, 0.171); */
    border: none;
    cursor: pointer;
}

.nav-btn-clicked {

    /* background: rgba(242, 255, 57, 0.25); */
    font-weight: 600;
    color: black;
    border-left: 4px solid rgba( 255, 255, 255, 0.18 );
    border-right: 4px solid rgba( 255, 255, 255, 0.18 );
    /* border: 1px solid red; */

    
}

.content-display {
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    /* background-color: violet; */
    overflow: auto;
    display: grid;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* position: relative; */
    
}

/* .content-display > video {
    position: relative;

    right: 0;
    bottom: 0;

} */


/* Home */

.home-content {
    display: grid;
    /* row-gap: 10px; */
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    /* width: min(100%, 400px); */
    width: 100%;
    /* position: absolute; */
    background-color: #555;
    padding: 40px;
    /* border-radius: 10px; */

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );


    
}

/* .home-logo-div {
    width: 100px;
    display: grid;
    align-items: end;
}

.home-logo-div > img {
    width: 100%;
} */

.home-header {
    /* border-top: 5px solid black; */
    padding-top: 10px;
    margin-bottom: 10px;
}

.home-header > h1 {
    color: black;
}

.home-info {
    margin-bottom: 15px;
    width: 300px;
    font-weight: 00;
}

.home-info > p {

    font-weight: 00;
}


.explore {
    width: 90px;
    height: 35px;
    border-radius: 10px 0px;
    /* border: 1px solid black; */

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
}

.explore:hover {
    background: rgba(255, 154, 4, 0.363);
}


/* Menu */


.menu-content {

    display: grid;
    row-gap: 30px;
    padding-bottom: 30px;
    /* grid-template-rows: repeat(); */
    grid-template-columns: minmax(370px,500px);
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;



    

}

.menu-card {
    display: grid;
    height: 300px;
    width: 100%;
    border: 1px solid black;

    justify-self: center;
    justify-items: center;
    align-items: center;

    column-gap: 20px;
    padding: 20px;

    background: rgba(243, 243, 243, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    border-radius: 20px 0px;
}


.food-img {
    
    height: 150px;
    width: 250px;
    /* border-radius: 20px; */

    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}

.food-img > img {

    height: 150px;
    width: 250px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.18);
    /* border: 5px solid yellow; */

}

.food-details {
    width: max(150px,100%);
    /* height: 150px; */
    /* border: 1px solid yellow; */
    display: grid;
    grid-template-rows: 30px 1fr;
    /* row-gap: 20px; */
    grid-template-areas: 
    "title price"
    "desc desc";


}

.food-title {
    /* border: 1px solid greenyellow; */
    font-size: 20px;
    font-weight: 600;
    grid-area: title;
    display: grid;
    justify-items: start;
}

.food-price {
    /* border: 1px solid brown; */
    font-size: 20px;
    font-weight: 600;
    grid-area: price;
    display: grid;
    justify-items: end;
}

.food-desc {
    border-top : 1px solid rgba(0, 0, 0, 0.18);
    padding-top: 10px;
    grid-area: desc;
    align-items: end;
}



/* CONTACT US */

.contact-content {
    position: relative;
    height: 100%;
    display: grid;
    padding-top: 30px;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px,1fr));
    align-items: start;
    justify-items: center;
    padding-top: 40px;


}

.contact-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #555;
    display: grid;
    align-items: center;
    justify-items: center;

    background: rgba(0, 0, 0, 0.37);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contact-icon > img {

    width: 30px;
    height: 30px;
}

.details {

    display: grid;
    align-items: start;
    justify-items: center;
    width: 150px;
    height: 190px;
    grid-template-rows: 80px 30px 1fr;
}

.contact-subject {
    height: 40px;
    
}

.contact-detail {
    
    padding: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contact-detail > a {

    color: black;
    text-decoration: none;

}

#contact-form {

    display: grid;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 20px;
    position: relative;

    bottom: 0px;
    align-self: end;

}

fieldset {
    font-size: 30px;
    padding: 20px;
    border: none;
}

.form-container {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 10px;
}

.input-container {
    height: 30px;
    width: 300px;
    display: grid;
    align-items: center;
    justify-items: center;
    

}

.input-container > input {
    appearance: none;
    border: 1px solid gray;
    width: 300px;
    height: 30px;
    padding-left: 10px;
    color: white;

    background: rgba(0, 0, 0, 0.363);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

::placeholder {
    color: #f1f1f1;
    font-family: 'Times New Roman', Times, serif;

}

.text-container > textarea {
    appearance: none;
    border: 1px solid gray;
    width: 300px;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    color: white;
    
    background: rgba(0, 0, 0, 0.363);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Times New Roman', Times, serif;
}

.text-container {
    height: 200px;
}

.submit-btn {
    width: 300px;
    height: 30px;
    color: white;

    background: rgba(255, 154, 4, 0.363);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.footer {
    height: 70px;
    /* background-color: red; */
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;

    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border-top: 1px solid rgba( 255, 255, 255, 0.18 );
}


.footer > div > a {
    color: #f1f1f1;
    text-decoration: none;
}